[2015-06-01 15:43] tdhock opened #1 "examples of interesting comparisons to show"
Here is the list of interesting comparisons that we can hopefully plot one day using your package (same as I sent you via email).

For example you could try to compare this early commit https://github.com/tdhock/PeakSegJoint/blob/8acd6e24fe6ff321b23b4d7fce7373b0fa1c120d/tests/testthat/test-likelihood.R with the current master.

Or maybe try the plotly package. They use the PR development model, so

[2015-06-01 15:44] tdhock opened #2 "PRs from a different user?"
how to get a list of commits when the PR comes from a different user?

for example https://github.com/tdhock/animint/pull/78

[2015-06-04 17:34] tdhock opened #3 "examples?"
Can you please post some examples about how to use the code that you have developed so far?

Usually I post some code examples in a README.org (or README.md) file in the root directory of each of my github repositories. For example https://github.com/tdhock/PeakSegJoint/blob/master/README.org has installation and example instructions. I would recommend you do the same for your project.

Also you s

[2015-06-05 13:27] tdhock opened #4 "record timings of running entire test-*.R file"
In some test files such as https://github.com/tdhock/animint/blob/panel_backgrounds/tests/testthat/test-panels.R most of the work is being done outside of `test_that` blocks, so we should also record the amount of time it takes to run `source` on the entire test-*.R file.

[2015-06-08 11:15] analyticalmonk commented on #3
I have added a README for the project as well as the initial documentation for the package.

[2015-06-09 17:47] tdhock commented on #4
also some packages don't use testthat at all, such as https://github.com/HenrikBengtsson/matrixStats/blob/master/tests/rowDiffs.R

for such packages it would be nice to record the time/memory info for executing the whole test file.

[2015-06-16 12:17] analyticalmonk commented on #1
Regarding the PeakSegJoint commit, turns out the earlier commit was a bit faster than the current master.
![rplot](https://cloud.githubusercontent.com/assets/4419448/8182707/a675c696-144f-11e5-804a-8c17478fad02.png)

I wasn't able to test the plotly tests though. I get the "couldn't connect to host" error every time I try to run them.

[2015-06-16 14:27] tdhock commented on #1
Thanks for the analysis Akash. A couple of suggestions:

(1) if you only have 1 time measurement per commit, it is impossible to tell if there is any real/significant difference between these two commits. In the future please run at least 3 separate timings on each commit.

(2) the date_time axis is not readable. Could you rotate the axis labels? and instead of labeling a grid of time points I thi

[2015-06-16 14:29] tdhock commented on #1
Not sure about the "couldn't connect to host" error. If you want me to help you debug that please paste the R output that you saw.

[2015-06-16 16:19] tdhock commented on #1
Also when you compare a branch with master, it would probably be better to plot each commit as a factor, since maybe the master commit occured later than the branch commit (but you still want to plot it on the left).

[code]

[2015-06-17 14:35] tdhock opened #5 "memory profiling"
Hey Akash, I figured out a way to measure memory usage for both leaks and swapping https://github.com/tdhock/testthatQuantity#memory-usage-testing

The main idea is to use a background process https://github.com/tdhock/testthatQuantity/blob/master/exec/rss.sh that continuously runs `ps` and writes the results to a file. After invoking `bash rss.sh out.RSS 1234` it keeps writing the memory usage of

[2015-06-18 11:10] analyticalmonk commented on #5
Hey Toby,
I have implemented the above method in the package in the given commit: https://github.com/da-ta-vinci21/Rperform/commit/3ea9e772e390729cfbe1f651bd03900625335b83
However, seems like the problem still persists same as before. For example,

[code]

Another example,

[code]

and if I run the same command again, I get:

[code]

Seems like after getting sourced the first time, the method does

[2015-06-18 11:59] analyticalmonk commented on #5
Another example using test-split.r of stringr package,

[code]

This test uses more memory than the examples in the previous comment and somewhat different test results are obtained. Can you make out as to what might be the reason?

[2015-06-18 12:00] tdhock commented on #5
thanks for the detailed analysis Akash. Your explanation makes sense.

To get consistent results between the first and subsequent memory profiles, we could run the test in a separate R process. For example you could put a small R script in `exec/get.mem.R`

[code]

Then run that R script using

[code]

and then when you look at result.list, the 3 results should be the same.

[2015-06-18 12:51] tdhock commented on #5
Akash when you paste R output can you please put it inside of ``` so I can see the aligned columns in the data.frame output?

Also while we are debugging the memory measurement, can you please focus on one particular commit? (specify num_commits=1, not 5) and please measure the memory 3 times for that commit to see if it is reproducible.

[2015-06-19 13:05] analyticalmonk commented on #5
I have incorporated the method you had suggested and tried to scale it for multiple commits through the mem_compare() function. Also, some modifications have been done to the get_mem() function and the scripts you had provided to accommodate multiple commits. This commit, https://github.com/da-ta-vinci21/Rperform/commit/aae448e7f188c9c550c0590dedcfb0f95123dfde, shows bulk of the changes.

Here is

[2015-06-19 13:37] tdhock commented on #5
Thanks for the report Akash. This does look better. However did you try running it several (3?) times for each commit? Can you make a plot of memory leak and swap values versus commits? Also you may want to try running your code on the 4 examples in https://github.com/tdhock/testthatQuantity/blob/master/tests/rss.profile.R -- put each of them in a test_that block and see if you can get the memory

[2015-06-22 10:17] #3 closed, assigned to analyticalmonk

[2015-06-22 10:27] analyticalmonk opened #6 "Large difference in run-times of test files on being measured with testthatQuantity wrapper"
@tdhock Hey Toby, this was what I was talking about.
## The results

Run-time for entire file with original version

[code]

and
Run-time for entire file with substituted code (testthatQuantity)

[code]
## The background

[code]

and

[code]

where the tempfiles 1 and 2 correspond to the non-substituted and substituted version of the test-code.

[code]

[2015-06-22 12:50] analyticalmonk commented on #5
Here are the outputs from the current version of the mem_compare() function.

[code]

and

[code]

The plot function isn't upto the mark and requires work. Below is an example plot of how it looks right now.

[code]

![rplot](https://cloud.githubusercontent.com/assets/4419448/8282043/576e921a-190b-11e5-9b80-8dad2225df8b.jpeg)

[2015-06-22 12:56] tdhock commented on #5
Thanks for the detailed analysis Akash. This is great!

It is nice to see that the 3 swap and leak values are similar for each commit.

To improve these plots I would suggest to change the horizontal/X axis to commit (factor) rather than the actual date_time. That way you would not need a color scale, and it would be easier to see which of the last two commits came first.

[2015-06-30 10:11] #4 closed, assigned to analyticalmonk

[2015-07-14 15:42] tdhock commented on #6
any update?

[2015-07-14 15:53] #5 closed, assigned to nobody

[2015-07-14 16:04] tdhock opened #7 "standardize time and memory profiling functions"
Can you please standardize the function names so that they are consistent between time and memory profiling? For example change get_times to time_compare, to be consistent with mem_compare?

Also for data viz with ggplot2 it would be best if these functions return data frames that can be easily combined with rbind.

For example both could return data frames with columns test_path, test_name, statu

[2015-07-16 16:19] analyticalmonk commented on #7
I have incorporated the suggested changes. Check out the updated README file.

[2015-07-16 20:04] tdhock commented on #7
great!

[2015-07-16 20:04] #7 closed, assigned to analyticalmonk

[2015-07-16 20:06] tdhock opened #8 "generate web page that summarizes all results"
After rbinding together all the memory+time profiles for all the test files of a package, it would be nice to see a plot on a web page that summarizes that info.

Can you try to do a plot of all the data with `facet_grid(metric_name ~ test.name, scales="free")` ?

[2015-07-16 20:08] tdhock commented on #8
@da-ta-vinci21 after you get this working then you can try to push the web page and plots from travis to github as described in https://github.com/rstats-gsoc/gsoc2015/wiki/Test-timings-on-Travis#project-ideas

[2015-07-18 01:30] analyticalmonk commented on #8
@tdhock I was able to plot the data using the above command.
However, do I need to generate a webpage containing the plots, store that webpage in the directory and then push it from local machine/travis to github? If yes, I am a bit confused about how to generate the webpage. Can you suggest me a method to look into?

[2015-07-18 19:03] tdhock commented on #8
why can't you plot the data with facet_grid? You should be able to. What
was the error message you saw?

to generate a web page with the resulting plot, try writing a Rmd file and
using library(knitr)

On Fri, Jul 17, 2015 at 9:30 PM, Akash Tandon notifications@github.com
wrote:

[2015-07-18 22:41] analyticalmonk commented on #8
Oh, I think you misread my post. I was able to plot the data.

[2015-07-19 22:31] tdhock commented on #8
great, can you post one of the facet_grid plots so we can discuss tomorrow?

On Sat, Jul 18, 2015 at 6:41 PM, Akash Tandon notifications@github.com
wrote:

[2015-07-21 13:16] analyticalmonk commented on #8
[code]

![rperform_grid](https://cloud.githubusercontent.com/assets/4419448/8801476/953c0e86-2fd8-11e5-9dfb-7a734c7553d2.jpeg)

[2015-07-21 13:30] tdhock commented on #8
Thanks for making that plot.

A couple of suggestions:

No need to put test_name as both color and a facet variable (one or the
other is sufficient, and both is potentially confusing).

It would be better to change metric_name="time" to metric_name="seconds" so
the reader is able to see the units of time.

It would be better to make a facet_grid(metric_name ~ ., units="free") plot
for each value o

[2015-07-21 15:10] tdhock commented on #8
maybe use library(xtable)

or library(knitr)

[2015-07-21 15:12] tdhock commented on #8
maybe include a link to RData files on the web page.

[2015-07-21 15:16] tdhock commented on #8
check this related work into generating a web page for plotly https://github.com/ropensci/plotly-test-table/tree/gh-pages

[2015-07-21 15:20] tdhock commented on #8
this is the script that Carson used to automatically push a web page and a comment from Travis to Github https://github.com/ropensci/plotly/blob/master/inst/testscripts/.push_test_table.sh

[2015-07-21 15:31] tdhock commented on #2
travis environment variables http://docs.travis-ci.com/user/environment-variables/

[2015-07-21 15:31] tdhock commented on #2
TRAVIS_BRANCH: For builds not triggered by a pull request this is the name of the branch currently being built; whereas for builds triggered by a pull request this is the name of the branch targeted by the pull request (in many cases this will be master).

[2015-07-21 15:32] tdhock commented on #2
TRAVIS_PULL_REQUEST: The pull request number if the current job is a pull request, “false” if it’s not a pull request.

[2015-07-21 15:32] tdhock commented on #2
TRAVIS_REPO_SLUG: The slug (in form: owner_name/repo_name) of the repository currently being built. (for example, “travis-ci/travis-build”).

[2015-07-21 15:37] tdhock commented on #2
say that you submit a PR from da-ta-vinci21/stringr@some_branch to hadley/stringr@master

TRAVIS_PULL_REQUEST=128 (some number)
TRAVIS_BRANCH=some_branch
TRAVIS_REPO_SLUG=da-ta-vinci21/stringr

question: how to determine hadley/stringr@master (target of PR)?

[2015-07-21 15:37] tdhock commented on #2
if you can't figure it out post an issue to Travis https://github.com/travis-ci/travis-ci/issues/new

[2015-07-21 15:42] tdhock opened #9 "correctness test your own code?"
maybe write some tests to make sure that your mem_compare function returns a data frame with a certain number of row and certain row names?

either clone an existing repository as a part of the test framework (e.g. hadley/stringr) or use git2r to make a simple repository that you can run your code on.

[2015-07-21 15:53] tdhock opened #10 "does the code work on non-testthat R packages?"
can you please post results of https://github.com/HenrikBengtsson/matrixStats/tree/master/tests ?

[2015-07-21 15:54] tdhock commented on #10
if you get this working it may be nice to write it up in a blog post.

[2015-07-24 11:05] da-ta-vinci21 commented on #10
The memory functionality is working fine for the matrixStats package. For example,
[code]
![matrixstats_benchmarkmem](https://cloud.githubusercontent.com/assets/4419448/8873126/1a1a1158-3221-11e5-9b8d-32a242c3bc9e.jpeg)

But there is an issue with the time functionality.
When I run it on any test on the package for the first time in the session, it works fine. For example,
[code]
![matrixstats_tim

[2015-07-24 11:46] analyticalmonk commented on #10
It seems to be working on this particular package.
For example,

[code]

![matrixstats_timeweightedvvars](https://cloud.githubusercontent.com/assets/4419448/8873766/8ee5730a-3227-11e5-9ede-56fa9ed87451.jpeg)

[code]

![matrixstats_benchmarkmem](https://cloud.githubusercontent.com/assets/4419448/8873773/9eae163e-3227-11e5-960f-81044b0f2af9.jpeg)

Is there any other package that you know of which do

[2015-07-24 13:44] tdhock commented on #10
great to see that your code also works for packages that do not use testthat!

I guess in practice when people want to run your code on travis you should provide some function like `performance_test_all_files` that can be run via

[code]

for packages that do not use testthat, and

[code]

for packages that do use testthat. In both cases maybe you need some more arguments to determine which branch

[2015-07-24 15:33] tdhock commented on #6
if you do this same test with the current version of Rperform what is the result? if it is OK now can you please explain what was the trick you used to get it to work?

[2015-07-29 09:59] analyticalmonk commented on #10
I tested the ggplotly package using the `plot_html()` function (https://github.com/da-ta-vinci21/Rperform/blob/master/R/plot_metrics.R#L179).

[code]

The resulting webpage: http://da-ta-vinci21.github.io/Rperform_ggplotly/

[2015-07-29 12:59] tdhock commented on #10
that looks reasonable Akash. Good job!

I would suggest to delete the `aes(color=test_name)`. since there is only one color, there is no need for a legend. instead please put `ggtitle(test_name)`.

[2015-07-29 13:07] analyticalmonk commented on #10
Sure, I will do that.

[2015-07-31 12:02] analyticalmonk commented on #9
I have written a basic test using testthat to begin with.
Link to commit: https://github.com/da-ta-vinci21/Rperform/commit/21d6620febd6c0cf6a48c9db94985b4d2876de7f

[2015-08-03 15:28] tdhock commented on #8
Update from Akash:

I was able to successfully run Rperform on the Travis machine and then push the results to a gh-pages branch. I did it for a clone of ggplotly which also happens to not use the testthat package for testing.

You can find more relevant information at the links below:

Travis Build: https://travis-ci.org/da-ta-vinci21/Rperform_ggplotly/builds/73873163

ggplotly gh-pages branch: h

[2015-08-03 15:28] tdhock commented on #8
TODO ggtitle(test_name) instead of aes(color=test_name)

[2015-08-03 15:32] tdhock commented on #9
for the function that generates a web page, test that the web page contains one image for every test.

[2015-08-03 15:35] tdhock commented on #10
looks like it works fine on non-testthat packages, good job!

[2015-08-03 15:35] #10 closed, assigned to nobody

[2015-08-03 18:19] analyticalmonk commented on #8
Link to the wiki for integrating Rperform with Travis-CI: [Rperform Wiki](https://github.com/da-ta-vinci21/Rperform/wiki#integrating-rperform-with-travis-ci)

I will make changes as we had discussed today (such as inclusion of a custom Rperform script instead of using echo). Still, here is the initial wiki about the work done till now.

[2015-08-03 20:38] tdhock commented on #8
Hey Akash thanks for writing that wiki page. It is very informative and I
just tried it on https://travis-ci.org/tdhock/PeakError/builds/73955726

On Mon, Aug 3, 2015 at 2:19 PM, Akash Tandon notifications@github.com
wrote:

[2015-08-03 20:48] tdhock commented on #8
Actually I got an error,
https://travis-ci.org/tdhock/PeakError/builds/73955726#L1266

Are you sure it shouldn't be https://tdhock@github.com/PeakError instead of
https://${GH_TOKEN}@github.com/PeakError? This error message compromised
the security of my token, so I deleted it.

On Mon, Aug 3, 2015 at 4:38 PM, Toby Hocking tdhock5@gmail.com wrote:

[2015-08-04 02:53] analyticalmonk commented on #8
Oh, I think it wasn't clear enough from the wiki. For the repo PeakError, it should be https://${GH_TOKEN}@github.com/tdhock/PeakError.

[2015-08-04 09:35] analyticalmonk opened #11 "Metrics for each test-file and individual testthat blocks on separate plots"
Currently, the metrics for each individual test files and all the testthat blocks it contains are plotted on a single graph by the Rperform plotting functions.

![rplot_time](https://cloud.githubusercontent.com/assets/4419448/9057841/6fd9b35e-3aba-11e5-8c7f-503c64ba8049.jpeg)

Since comparing different testthat blocks and the file against each other isn't of much use, it would be better to plot me

[2015-08-04 09:52] analyticalmonk commented on #11
![rplot_facetbytest](https://cloud.githubusercontent.com/assets/4419448/9058256/619efd14-3abd-11e5-928b-94bf45ed30ee.jpeg)

@tdhock Is the above an improvement over the previous method of plotting all tests on a single plot?
I have refrained from putting each block and the file itself on different plots since that would make it hard to work with them interactively.

[2015-08-04 13:23] tdhock commented on #8
thanks for the info. I will try that.

However you don't think there is any security problem?

On Mon, Aug 3, 2015 at 10:53 PM, Akash Tandon notifications@github.com
wrote:

[2015-08-04 13:32] tdhock commented on #11
yes this is much better!

Some users will want to do `facet_grid(test_name ~ .)` for one value of metric_name (for example seconds as you have here)

and others will want to do `facet_grid(metric_name ~ .)` for one value of test_name (to see if both time and memory profiles have changed after a given commit)

it would be nice if you could give the user the choice of what to plot (with some reasona

[2015-08-04 14:14] tdhock commented on #8
works for me http://tdhock.github.io/PeakError/

https://travis-ci.org/tdhock/PeakError/builds/74065947

[2015-08-04 14:16] tdhock commented on #8
great job with the coding and documentation.

[2015-08-04 14:16] #8 closed, assigned to analyticalmonk

[2015-08-05 01:29] analyticalmonk commented on #2
I was going through the travis docs and came across this: [Security Restrictions when testing Pull Requests](http://docs.travis-ci.com/user/pull-requests/#Security-Restrictions-when-testing-Pull-Requests). It mentions how the secure or encrypted environment variables won't be available when building a PR from a fork of the repository. That means a PR build won't have access to the encrypted github

[2015-08-05 13:03] tdhock commented on #2
ok that makes sense.

in that case I guess it is OK to only support PRs from the same repos.

[2015-08-06 11:35] analyticalmonk commented on #11
I am modifying the existing plot functions to let user choose the type of plot he desires among the above two. I have integrated all the plot functions into a single one with one parameter being needed to choose the type of plots desired.
I haven't committed the changes yet but below are some examples.

Command:
`Rperform::plot_metrics(test_path = "./tests/testthat/test-join.r", metric = "testMetr

[2015-08-06 12:59] tdhock commented on #11
looks good Akash.

however for the last plot there is no need for both aes(color=metric_name)
and facet_grid( ~ metric_name) -- rendundantly using two visual properties
to display the same data variable can be confusing. It would be better to
just use one or the other, probably facet_grid( ~ metric_name) would be
better.

On Thu, Aug 6, 2015 at 7:35 AM, Akash Tandon notifications@github.com
wrote:

[2015-08-06 14:44] analyticalmonk commented on #11
Oh yeah, I was playing around with it during testing the code
interactively. I forgot to remove the aes part. Will do it.

Regards,
Akash Tandon,
Senior undergraduate (B.Tech-III),
National Institute of Technology, Surat

---

On Thu, Aug 6, 2015 at 6:29 PM, Toby Dylan Hocking <notifications@github.com

[2015-08-06 15:15] #2 closed, assigned to analyticalmonk

[2015-08-06 15:17] tdhock opened #12 "PR comment for branch Rperform results"
https://github.com/ropensci/plotly/pull/241#issuecomment-126865718 example of automatic message with a link to test results

[2015-08-06 15:18] tdhock commented on #12
the code they used for making a comment is at the end of https://github.com/ropensci/plotly/blob/master/inst/build-push-comment.R

[2015-08-06 15:20] tdhock commented on #12
use branch-1-name.html, branch-2-name.html instead of always index.html

[2015-08-06 18:29] tdhock commented on #11
I got this error

[code]

when running Rperform using this script https://github.com/tdhock/PeakError/blob/master/.push_gh_pages.sh

It probably will be fixed when you use the new master branch of plyr, which merged this change today:

https://github.com/hadley/plyr/pull/259

[2015-08-11 09:54] analyticalmonk commented on #12
Opened an issue on the travis-ci tracker: [Environment variable for branch from whch PR originates](https://github.com/travis-ci/travis-ci/issues/4643)

[2015-08-11 09:56] analyticalmonk commented on #11
The above fix did the trick!

[2015-10-20 13:42] tdhock opened #13 "copy some ideas from asv"
asv is a python library that tries to solve the same problem as Rperform. Maybe the front-end graphics or JSON storage mechanism could be copied?

https://github.com/spacetelescope/asv

[2016-03-07 13:13] #11 closed, assigned to analyticalmonk

[2016-03-10 16:23] analyticalmonk commented on #13
@tdhock Was reading up on profiling tools when came across this package: [profvis](https://github.com/rstudio/profvis). A somewhat interesting tool. Have you seen or used it previously?

[2016-03-10 16:58] tdhock commented on #13
nope, but maybe email the author to see if he could co-mentor?

On Thu, Mar 10, 2016 at 11:23 AM, Akash Tandon notifications@github.com
wrote:

[2016-03-18 03:19] analyticalmonk opened #15 "Interactive plots"
Introduce interactivity in the performance plots being rendered. Similar to the ones returned by
_asv_ [(_example_)](http://droettboom.com/astropy-benchmark/) and _codespeed_ [(_example_)](http://speed.twistedmatrix.com/timeline/#/?exe=4,3,2,5&base=none&ben=SSH%20Throughput&env=1&revs=50&equid=off).

@tdhock animint could be used for something like this, right? Or are there any other alternatives

[2016-03-18 03:49] joshuaulrich commented on #15
[dygraphs](https://rstudio.github.io/dygraphs/) is the first thing that comes to my mind.

[2016-03-18 06:32] analyticalmonk commented on #15
Thanks @joshuaulrich
Looks like a good option, will go through the dygraphs docs once.

[2016-03-18 12:29] tdhock commented on #15
animint is best when you have multiple plots and you want to click one of them to update what is shown in the others. maybe we could use it to explore the larger data set (time and memory measurements across several commits, for several different tests)

[2016-03-18 15:10] analyticalmonk commented on #15
Yeah, makes sense @tdhock
In any case, for what I had in mind, a library such as dygraphs will do.

[2016-03-19 11:12] analyticalmonk opened #16 "Make package CRAN ready"
Currently, R CMD check fails.
Update and complete documentation, and make other required changes.

[2016-05-30 17:03] analyticalmonk commented on #16
**Current status: Eliminated ERRORs; reduced multiple WARNINGs to a single one; single NOTE.**

_About the existing WARNING:_

Message being returned:

[code]

Background:

The WARNING message has to do with the methodology employed for obtaining the runtime for _testthat_ blocks. Steps employed for doing it (along with examples from code) are:
- Read the test file in question as a string. (https:

[2016-05-30 17:22] analyticalmonk commented on #16
@tdhock The only reason for using `test_code()` that I can make out is to evaluate the test in the original environment from which the top-most function (such as `time_commit()` in the above case) was called. This is in contrast to the general approach taken the _testthat_ to evaluate tests without affecting the global state. Since you had written the `testthatQuantity()` function, can you explain

[2016-05-31 19:13] joshuaulrich commented on #16
A couple more "NOTE"s from running `R CMD check --as-cran`:

[code]

The fixes should be evident, but let me know if you have questions. Here's the command I ran:

[code]

[2016-06-02 17:56] analyticalmonk opened #17 "Implement visualization functions for comparison of metrics across two branches"
These functions will be contained in the file, [plot_metrics.R](https://github.com/analyticalmonk/Rperform/blob/master/R/plot_metrics.R) and will derive from the branch comparison metric functions implemented in [branch_metrics.R](https://github.com/analyticalmonk/Rperform/blob/master/R/branch_metrics.R).

Given below is an example visualization for comparison of runtime across two branches:
`
plo

[2016-06-04 09:51] analyticalmonk commented on #17
an example visualization for comparison of memory usage across two branches:

`plot_metrics(test_path = "./tests/testthat/test-join.r", metric = "memory", branch1 = 'rperform_test', branch2 = 'master')`

![test_test-join_rperform_test_mast](https://cloud.githubusercontent.com/assets/4419448/15798651/58692e6e-2a5d-11e6-8af4-8c3b2d38473e.png)

_Background:_
In the last commit of the branch _rperform

[2016-06-06 09:24] analyticalmonk opened #18 "Implement function(s) to find out commits leading to a significant performance decrease"
Follows up on #13.
Idea similar to what asv implements.

_Reference:
[asv: finding a commit that produces a large regression](http://asv.readthedocs.io/en/latest/using.html#finding-a-commit-that-produces-a-large-regression)_

[2016-06-06 09:33] analyticalmonk commented on #13
Closing this for now.
Will open individual issues for any feature that we might copy, similar to #18.

[2016-06-06 09:33] #13 closed, assigned to analyticalmonk

[2016-06-06 20:52] tdhock commented on #16
My motivation for `testthatQuantity` was to copy what was implemented in the `testthat` package, but make some modifications that allow measuring the time of each `test_that` block.

To avoid that WARNING about `:::` you can instead use `get`.

For example, instead of

[code]

you can use

[code]

[2016-06-07 15:05] tdhock commented on #17
These graphics look good. I would add a `geom_text` with labels for the branch names (next to the black vline).

The negative value for the memory means that there is actually less memory used at the end of the test than at the start https://github.com/tdhock/testthatQuantity/blob/master/R/rss.profile.R#L28

[2016-06-08 09:30] analyticalmonk commented on #17
Adding the labels is a good idea, will do that.

I do realize that the negative value signifies less memory being used than at the start. But since this was the first time a negative result had been obtained, I just wanted to double-check if it wasn't because of R doing something internally. Turns out, it happens so every time for this test. So the result is legit it seems.

And I was thinking abo

[2016-06-08 15:10] tdhock commented on #17
yes please rename the variables to clarify what they mean

[2016-06-13 07:43] analyticalmonk commented on #17
I tried to label the plot using ggplot's geom_text() itself. The result is not very satisfactory.

![rperform_branch_annotated](https://cloud.githubusercontent.com/assets/4419448/15999971/dcfa1ff2-3166-11e6-8c7e-7a48c66c185d.jpeg)

This is the code which produced the above plot.

[code]

We can't provide a default y value to _geom_text()_ since the scales would differ for every plot. I am not prov

[2016-06-13 09:05] analyticalmonk commented on #18
Below are two plots obtained using the function, _plot_bottlenecks()_.

`Rperform::plot_bottlenecks(test_path = "tests/testthat/test-dup.r", num_commits = 10, benchmark = 2, metric = "time", threshold = 0.1)`
![rperform_plotbneck1](https://cloud.githubusercontent.com/assets/4419448/16001047/a63c7e04-316d-11e6-869b-5e0555b4d0c9.jpeg)

`Rperform::plot_bottlenecks(test_path = "tests/testthat/test-int

[2016-06-13 18:31] tdhock commented on #18
its a neat idea but I would suggest using the term "outlier" rather than bottleneck.

Also there are many different ways to do outlier detection. I definitely would trust my visual interpretation of the plot more than the classification based on some arbitrary outlier detection parameters. But if I had to choose an outlier detection method, I would use an optimal change-point detection method such

[2016-06-13 18:33] tdhock commented on #17
use a separate data set for the `geom_text`, compute the min/max for each facet and use that for the position of each text label.

[2016-06-14 04:09] analyticalmonk commented on #18
That does make sense. I was trying this to implement the 'finding commits which cause regression' functionality similar to what asv has. But I realize now that it would be better to let the user perform a visual analysis by themselves. Will close this issue for now.

I will next concentrate on making the plots interactive and letting the user be more selective about the commits they want to analyz

[2016-06-14 09:45] analyticalmonk commented on #17
Thanks for the tip. It worked!
Here is an example plot,

![rperform_branch_annotated](https://cloud.githubusercontent.com/assets/4419448/16038464/ae7888b2-3242-11e6-9312-aacbd10a6949.jpeg)

Memory comparison:

`Rperform::plot_branchmetrics(test_path = "tests/testthat/test-interp.r", metric = "memory", branch1 = "rperform_test", save_plots = F)`

![rperform_branch_annotatemem](https://cloud.githubu

[2016-06-15 08:32] #18 closed, assigned to analyticalmonk

[2016-06-15 08:41] analyticalmonk opened #21 "Implement function(s) to compare and visualize performance of non-sequential commits"
For example, being able to obtain results for just the 5th, 10th, 15th and 20th commits instead of having to go through all the 20 commits.

[2016-06-15 16:11] #21 closed, assigned to nobody

[2016-06-23 10:10] #17 closed, assigned to analyticalmonk

[2016-06-23 10:29] analyticalmonk commented on #15
Interactive plots will be most useful when working with travis. Thus, it didn't make sense to mess much with the existing plotting functions.
Instead, adding a `interactive` parameter to the existing functions would be a better option. This way, when working locally, a developer can use the normal ggplots such as the ones Rperform currently provides. And the interactive ones can be used to work wi

[2016-06-23 16:49] tdhock commented on #15
Hey @analyticalmonk did you try `facet_grid(test_name~., scales="free")` ? that should work in animint just like in ggplot2...

[2016-06-23 16:58] tdhock commented on #15
another option is to use `aes(showSelected=test_name)` to show details for only one test at a time. Then add a second plot with `aes(clickSelects=test_name)` to select which test you want to see.

[2016-06-24 12:32] analyticalmonk commented on #15
I had tried using `facet_grid..`. The text labels for each facet overlapped. It rendered the following plot:
![animint_stringr_facet](https://cloud.githubusercontent.com/assets/4419448/16337466/5baf0f22-3a33-11e6-8f67-5af4de1515c9.png)

An animint for the tests using `showSelected=test_name` is here: https://analyticalmonk.github.io/Rperform/
It works fine except for the issue of there not being d

[2016-06-24 15:10] tdhock commented on #15
for now I think facets are better. (but we have another GSOC student working @faizan-khan-iit  on getting animint's axes to update after changing the selection, so hopefully that could be an option by the end of summer)

for the facets you can either try to shorten the facet label or give the facets more space with `theme_animint(height=1000)`

[2016-06-24 19:09] tdhock commented on #15
also you may consider just copying the code used by codespeed and asv. Do you think it would be possible to output some data files from R and have those files be read directly by the codespeed/asv viz tools?

[2016-06-26 16:41] analyticalmonk commented on #15
The [Rperform gh-page](https://analyticalmonk.github.io/Rperform/) now contains an updated version of the animint. I wanted to see how it works on a random package from the wild so used it on [namedCapture](https://github.com/tdhock/namedCapture); seems to work fine.
About the updates itself:
- The plot again uses `facet_grid()` but I have shortened the labels. Specifically, the new label will con

[2016-06-26 16:52] analyticalmonk commented on #15
There were a couple of issues I ran into:
- Embedding the links using the `href` aesthetic means we won't be able to use the `tooltip` aesthetic. Seems like this is a [documented bug](https://github.com/tdhock/animint/issues/100).
- I am using ggplot2 `1.0.1` since this is the latest version on the CRAN repository which conforms with animint's requirement for a version less than 2.0. But `theme_an

[2016-06-27 13:32] tdhock commented on #15
Hey Akash that looks good with the links to the namedCapture commits.

Also shortening the facet labels seems like a reasonable strategy (for now). Eventually I think it would be better to add a `geom_text(aes(showSelected=test_name, label=test_name))` that shows the full test name, and another plot with an overview of test results, that you can click to select a test, e.g. `geom_point(aes(average

[2016-06-29 10:02] analyticalmonk commented on #15
@tdhock I didn't entirely understand the details of the plot you are suggesting. I get that `geom_text()` would be added to the current plot itself. But what would the second plot display exactly and what would its y and x axis represent?

Also, I opened issue [#155](https://github.com/tdhock/animint/issues/155) for animint as you had suggested.

[2016-06-29 14:27] tdhock commented on #15
Akash, sorry for the confusion. Right now you have a single `ggplot()+geom_point()+facet_grid(test_name~.)` that shows all the results. I would suggest another data viz with at least two plots: one plot with an overview that you can click to select a single test (`clickSelects=test_name`), and another plot with details of the selected test (`showSelected=test_name`). For the overview plot you woul

[2016-06-29 14:29] tdhock commented on #15
If that is still confusing, can you please post the data of test results and I will write some example ggplot/animint code for you.

[2016-06-30 13:00] analyticalmonk commented on #15
I still don't get it entirely but I have tried making a rough viz from what I understood. It's hosted [here](http://bl.ocks.org/analyticalmonk/raw/4bbe015768b7c96018086dcb9771bf28/).

I have used mean as a summary statistic for the sake convenience here.

The data I am working with for this is in the following format:

[code]

I have omitted the _sha_ and _datetime_ columns

Code I wrote to obtain

[2016-06-30 14:37] tdhock commented on #15
that looks like a step in the right direction.

now I would suggest changing the y axis variable on the details plot to a normalized variable, so you can use up all the space in the plot. e.g. `normTime = (time-min(time))/(max(time)-min(time))` for every value of `test_name`. In that case I would suggest putting the `geom_text(aes(x=0.5, y=1, showSelected=test_name))` label on the top of the detai

[2016-07-07 17:25] tdhock opened #24 "other kinds of tests"
Hey @analyticalmonk one day you may want to think about how Rperform can be customized to get test-level metrics for packages that use something other than testtthat. for example I guess the data.table maintainers would be interested in using Rperform, but they do not use testthat https://github.com/Rdatatable/data.table/blob/master/inst/tests/tests.Rraw

[2016-07-07 18:10] analyticalmonk commented on #24
Definitely worth looking into some time in the near future.

@tdhock I just had a vague thought after skimming through the test file you linked to above. Maybe we can specify a placeholder of sorts which can be put before and after a code block which is to be tested. That way, Rperform can know which blocks to test and can work with them just like it does with testthat blocks.
I am not exactly sur

[2016-08-15 13:10] tdhock opened #32 "editable wiki?"
Hey @analyticalmonk I wanted to post a question on https://github.com/analyticalmonk/Rperform/wiki/Integrating-Rperform-with-Travis-CI but the wiki is not editable. can you make it editable?

I was trying to follow your instructions and get Rperform working with https://github.com/tdhock/coseg and I was not sure what permissions I need to give to the access token. repo?

[2016-08-15 13:34] analyticalmonk commented on #32
Hey @tdhock made it editable. However, the instructions on that page aren't valid anymore. I will be editing that some time tomorrow.

Created a [dummy package](https://github.com/analyticalmonk/RperformTestPackage) and working on creating some tests for Rperform right now. Also, here's a (in-progress) tutorial about using Rperform: [Tutorial: Using Rperform with packages](https://github.com/analy

[2016-08-15 13:38] analyticalmonk commented on #32
In addition to updating the wiki, I would be creating a brief hands-on tutorial about using Rperform on  Travis. That should clear things up.

[2016-08-15 14:51] analyticalmonk commented on #32
@tdhock About the access token, _repo_ would do. In fact, since it's a public repo, just the _public_repo_ option (under _repo_) would do as well.

I will be updating the wiki but here's the quick setup guide (from my email last week):

Here's the [sample_travis.yml](https://github.com/analyticalmonk/Rperform/blob/master/SampleFiles_TravisPR/sample_travis.yml) file mentioned in the second point.

[2016-08-19 16:50] analyticalmonk commented on #32
@tdhock Here's a new tutorial for integrating Rperform with Travis CI builds: [Tutorial: Using Rperform with Travis CI](https://github.com/analyticalmonk/Rperform/wiki/Tutorial:-Using-Rperform-with-Travis-CI)

Also closing this issue since wiki is now editable.

[2016-08-19 16:50] #32 closed, assigned to nobody

[2016-11-02 15:43] tdhock commented on #15
hey @analyticalmonk, thanks to @faizan-khan-iit who worked on animint in GSOC2016, we now have axis updates, which would be very useful for your performance data viz. You just need to add the `update_axes=c("x", "y")` option to the `viz.list`. You can see other examples in the test cases: https://github.com/tdhock/animint/blob/master/tests/testthat/test-renderer4-update-axes-multiple-ss.R

[2016-11-03 01:20] analyticalmonk commented on #15
@tdhock Sounds good. Will do the changes.

[2016-12-08 18:23] analyticalmonk commented on #15
@tdhock Had been extremely busy over the last few weeks. Will be making working and making a few changes to Rperform over the next few days. Guess will finally make the interactive plots work with the updates to animint.

[2017-01-03 19:52] tdhock commented on #15
great, if you have any issues with animint, don't hesitate to get in touch with me or @faizan-khan-iit

[2017-03-19 17:24] analyticalmonk opened #33 "User Interface (UI)"
Create a coherent and useful UI for Rperform.
Inspiration can be taken from python-specific packages such as [asv](https://github.com/spacetelescope/asv) and [codespeed](https://github.com/tobami/codespeed/).

[2017-03-19 17:26] analyticalmonk opened #34 "Database of historic test run times"
Add support for creating and maintaining database of historic test run times, to which new times could be added.
Existence of such a database will enhance Rperform UI's usefulness, when created.*

*[Issue related to creation of UI for Rperform](https://github.com/analyticalmonk/Rperform/issues/33)

[2017-03-19 17:29] analyticalmonk opened #35 "Changepoint detection"
Reference: https://github.com/hadley/dplyr/pull/2233#issuecomment-259709792

[2017-03-22 07:21] analyticalmonk opened #36 "Run Rperform on popular R packages"
Run Rperform on lots of real packages, so we can show the R community the benefits of using our code.

[2017-06-28 08:01] DevinderKaur commented on #36
[https://github.com/DevinderKaur/RpeformDEMO](url)

[2017-06-28 15:29] analyticalmonk commented on #36
@DevinderKaur There should be a detailed account of the observations and analysis obtained by testing the packages as well. Right now, there's not a lot being conveyed.
Maybe do that in the next post.

[2017-07-12 13:08] RoverVan opened #37 "Error (evaluation nested too deeply) when using Rperform in iregnet"
Hey @analyticalmonk @tdhock , I am the student of iregnet on 2017 GSoC. Recently i have found some errors when I use Rperform to obtain iregnet performance across two branches.

The code below is what I used in Rperform. It means that optimization branch is to be merge into master branch.

`>library(Rperform)`
`>setwd("PATH/TO/PROJECT/iregnet/")`
`>plot_branchmetrics(test_path = "tests/testthat/te

[2017-07-12 16:35] analyticalmonk commented on #37
Hi @RoverVan
Thanks for reporting this. I will have a look at it and get back to you.

[2017-07-13 10:19] RoverVan opened #38 "Suggestion of passing fail commit when using compare function"
Hi @analyticalmonk , as @tdhock suggests, there is another advice for Rperform.

When i use plot_branchmetrics() function to compare the performance of two branch, as the doc of this [function](https://github.com/analyticalmonk/Rperform/wiki/Plotting-package-metrics-with-Rperform#commits-across-two-branches), it will run all the commit from branch1's latest commit until the first commit common to

[2017-07-13 10:57] analyticalmonk commented on #37
@DevinderKaur Please have a look into this.

[2017-07-24 18:04] tdhock commented on #37
Hey @analyticalmonk @DevinderKaur this issue is blocking us from moving forward in the iregnet GSOC2017 project -- it is about speed optimization, and we really want to use Rperform.

Do you have any idea about what is causing the error? Any idea what parts of the code need to be modified for a fix? Maybe I or @RoverVan could submit a PR if you point us in the right direction. Thanks in advance.

[2017-07-26 16:30] analyticalmonk commented on #37
@tdhock Looking into this. Get back to you in a few hours.

[2017-12-17 08:52] analyticalmonk opened #41 "Non-package code performance testing"
Make it easier to use Rperform for performance testing standalone R code.

[2020-01-16 21:12] tdhock opened #43 "reproducing rperform_test memory leak example?"
Hi @analyticalmonk my student @LooDaHu is trying to reproduce the example on the README where you show that the rperform_test branch has a memory leak after 5 commits... where did you get that repo/branch? I don't see any branch named rperform_test in the stringr repo.
Thanks

[2020-01-21 20:27] tdhock commented on #43
hi @analyticalmonk can you please look up where the test package (with memory leak on commit 5) can be found? https://github.com/analyticalmonk/Rperform/wiki/Obtaining-package-performance-data-using-Rperform#examples-1

[2020-01-22 13:57] analyticalmonk commented on #43
Hi @tdhock, there's no test package per se. As the wiki mentions, I'd modified a test ([test-dup.r](https://github.com/tidyverse/stringr/blob/master/tests/testthat/test-dup.r)) from the stringr package for the purpose of creating a demo.
The actual `stringr` package didn't have a leak. I'd forked the repo, created a new branch (`rperform_test`), put in code in the aforementioned test that would mi

[2020-01-22 16:30] tdhock commented on #43
yes that helps, thanks. so if I understand correctly you did that manually?

there is no code that does that for you automatically? I mean, code that clones stringr and then adds 5 commits, and then runs Rperform?

[2020-01-24 06:56] analyticalmonk commented on #43
@tdhock You're right. There's no script; I'd done that manually.

[2020-01-24 14:16] tdhock commented on #43
ok. one last question. is that repo (where you cloned and the did those 5 commits) online somewhere, one of your github repos?

[2020-01-25 10:44] analyticalmonk commented on #43
Sadly, no.
Looks like I hadn't pushed it since its not present in my [stringr fork](https://github.com/analyticalmonk/stringr ).

[2020-01-26 21:54] tdhock commented on #43
ok thanks for the info

[2020-01-26 21:54] #43 closed, assigned to nobody

[2020-01-28 09:18] LooDaHu opened #44 "An error message popped up when using"
Hi, @analyticalmonk . I got an error message when I try to reproduce examples at the README page. I forked your _stringr_ repo and committed twice with some small changes in test-join.r. Then I tried plot_metrics and I got an error message, Here is the console log:
[code]
There is no error message when num_commits = 0 and no plot comes out.
Could you help me with this problem? Thank you in advance

[2020-01-28 17:27] analyticalmonk commented on #44
Hi @LooDaHu,
It seems that this could be because of a change in one of the dependency packages. I'll have a look at get back to you in a day or two.

[2020-02-12 20:33] analyticalmonk opened #45 "Support git2r's switch from S4 to S3 objects"
Bug: https://github.com/analyticalmonk/Rperform/issues/44

Reference: https://github.com/ropensci/git2r/issues/312

[2020-02-12 20:34] analyticalmonk commented on #44
Hi @LooDaHu,
It took me some time before I got the chance to look at this. This error occurred due to the breaking changes that had happened to git2r sometime back due to them switching to S3 objects from S4. The latest git2r version that Rperform will work with is `0.21.0`.

As a temporary fix, I've modified the DESCRIPTION file. I've also opened an issue here: https://github.com/analyticalmonk/R

[2020-02-12 21:53] LooDaHu commented on #44
Hi @analyticalmonk,
Thanks for the info, this is helpful.

[2020-02-12 21:53] #44 closed, assigned to nobody

[2022-06-27 17:43] #45 closed, assigned to EngineerDanny

[2022-06-27 17:43] analyticalmonk opened #48 "Update README"
- [ ] **Fix example code**: If one tries to follow the `Basic Examples` section provided in the README, they will encounter errors. These happen due to wrong test paths for package 'stringr' being specified in the Rperform code snippets. We need to update the code so that a new user can easily get started with using Rperform.
- [ ] **Replace Travis build badge with Github workflow badge**

[2022-06-27 17:46] analyticalmonk commented on #36
@EngineerDanny Is this issue next in line for you? Based on your proposal, that should be the case.
I ask since I am not yet aware of the conversation that happened between you and @tdhock a few days back.

[2022-06-27 17:52] EngineerDanny commented on #36
Yh. It is part of the tasks that I have planned. In fact I have started testing other packages with Rperform.
I am getting interesting results. I recently performed the tests on [binsegRcpp](https://github.com/tdhock/binsegRcpp). You can check the analysis [here](https://github.com/EngineerDanny/Rperform/pull/1#issuecomment-1164712182)

[2022-06-27 17:57] EngineerDanny commented on #48
I am not quite sure though if the  Github Workflow **R CMD Check** should be placed in the **README.md** instead of the Travis CI Build.
What are your suggestions on this @analyticalmonk ?

[2022-06-27 18:23] analyticalmonk commented on #48
@EngineerDanny Sorry but I did not understand your question. Why are you considering placing the Github workflow piece in the README?

[2022-06-27 18:28] EngineerDanny commented on #48
The result badge could be there to show the users whether the R CMD Check test is passing or failing.
It is required that R CMD Check must pass before a package can be published.

[2022-06-27 18:30] EngineerDanny commented on #48
For instance [binsegRcpp](https://github.com/tdhock/binsegRcpp), [stringr](https://github.com/tidyverse/stringr) all have the R CMD Check result badge. Hope you understand my point @analyticalmonk

[2022-06-27 18:46] analyticalmonk commented on #48
@EngineerDanny Yes, we should add the appropriate badge. I have also updated the issue to reflect that as a task.

[2022-06-27 18:50] EngineerDanny commented on #48
Great

[2022-07-01 11:40] #48 closed, assigned to EngineerDanny